:root{
  --primary:#F8C8DC;
  --background:#FFF8F0;
  --accent:#D4A373;
  --text:#5C4033;
  --white:#ffffff;
  --shadow:0 4px 15px rgba(0,0,0,.08);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}


body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: var(--background);
    color: var(--text);
}


a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

img{
  display:block;
  max-width:100%;
}